@import "./_vars.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
    background: var(--main-dark-color-bg);
    color: var(--main-text-color);
}

button {
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
}

input,
textarea,
select {
    outline: none;
}

ul,
li {
    list-style: none;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    font-weight: 400;
    padding: 0;
    margin: 0;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    outline: none;
}

.container {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}
